#frm_create_ajax table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #frm_create_ajax td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px 8px;
  }

  #frm_create_ajax   th {
    background-color: skyblue;
  }
  #frm_create_ajax   td {
    background-color: rgb(210, 215, 218);
  }

  #frm_create_ajax   td i {
    color:black;
    font-size: 14px;;
  }

  #frm_create_ajax   td i:hover {
    color:red;
   cursor: pointer;
  }


  
  /* #frm_create_ajax tr:nth-child(even) {
    background-color: #dddddd;
  } */

  #frm_create_ajax tr td:nth-child(1) {
    width: 30%;
   }

   #frm_create_ajax tr td:nth-child(2) {
    width: 50%;
   }

   #frm_create_ajax tr td:nth-child(3) {
    width: 5%;
    text-align: center;
   }